.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 10px;
}

.start-button {
  font-size: 1.5em;
  width: 170px;
  height: 45px;
  margin: 0px auto;
  margin-bottom: 20px;
  background-color: #004165;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Exo';
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}

.start-button:hover {
  background-color: #B27922;
  ;
}

.header {
  padding: 0px;
  font-size: 2.5em;
  display: flex;
  margin: 0px 0;
  color: #004165;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Fascinate';
  justify-content: center;
}

.status-bar {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin: 0px 0;
}

.timer, .score, .hits {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 40px;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Exo';
  font-weight: bold;
  gap: 8px;
  padding-left: 0px;
}

.timer-icon {
  width: 60px;
  height: 44px;
  margin-left: -3px;
}

.timer-text {
  text-align: left;
  flex-grow: 1;
}

.timer {
  background-color: #CADFEB;
  border: 4px solid #196088;
  color: #196088;
}

.score {
  background-color: #FDE7B3;
  border: 3px solid #B27922;

  color: #B27922;
}

.hits {
  background-color: #DCC4B8;
  border: 3px solid   #634D2B;
  color: #634D2B;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  padding: 4% 60px;
  padding-bottom: 70px;
  border: 10px solid #004165;
  border-radius: 15px;
  justify-content: center;
  margin: 25px;
  box-sizing: border-box;
  max-width: 600px;
}

.hole {
  width: 100px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 5px solid #004165; /* add line at bottom */
  padding-bottom: 10px;
  overflow: hidden;
  background-color: transparent; 
 } 


.bruin, .bomb {
  width: 60px;
  height: 60px;
  position: absolute;
}

.bruin img, .bomb img {
  width: 100%;
  height: 100%;
}

.bruin {
  bottom: 0;
}

.bomb {
  bottom: 0;
}

/* Full-screen overlay */
.overlay {
  position: absolute; /*Ensures it stays on top*/
  top: 46%;
  left: 50;
  width: 100vw;
  height: 30vh;
  /* background: rgba(0, 0, 0, 0.6); Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200; /* Ensures it appears above everything */
}

/* Pop-up box */
.popup {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 105x rgba(0, 0, 0, 0.3);
  width: 240px;
  font-family: 'Exo', sans-serif;
  border: 8px solid #004165;
  border-radius: 10px;
}

/*grid layout for aligning labels and numbers*/
.stats-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px 0;
  font-family: 'Exo';
  color: #004165;
}

.stat-label {
  text-align: right;
  margin: 0;
}

.stat-value {
  text-align: left;
  margin: 2px;
}

/* Play Again button */
.popup-btn {
  background: #004165;
  color: white;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.popup-btn:hover {
  background: #B27922;
}

.time-over {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: 'Fascinate';
  color: #004165;
}

.end-text {
  padding: 0px;
  margin: 2px;
}